{% load static %}
{% for field in form %}
    <div>
        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li><span class="field-error-message">{{ error }}</span></li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="field-label">{{ field.label }}</div>
        {{ field }}
    </div>
{% endfor %}

<ul>
    {% for error in form.non_field_errors %}
        <li><span class="form-error-message">{{ error }}</span></li>
    {% endfor %}
</ul>