<html lang="en">
    <head>
        <title>Hobbies</title>
        <link rel="stylesheet" href="../../../static/style.css">
    </head>
    <body>
        {% if hobbies_list %}
            <a href="/" style="margin-left: 40%" class="btn">Home</a>
            <a href="/portfolio/" class="btn">Portfolio</a>
            <a href="/contact/" class="btn">Contact Info</a>
            <a href="/hobbies/detailed" class="btn">Hobbies Detailed View</a>
            <h2>My Hobbies</h2>
            <ul>
            {% for hobby in hobbies_list %}
                <li>
                    <h5>{{ hobby.hobby_name }}:</h5>
                    <p class="base">{{ hobby.hobby_description }}</p>
                <br>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hobbies are available.</p>
        {% endif %}
    </body>
</html>