{% load static %}
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../../../static/style.css">
    </head>
    <body>
        <a href="/hobbies/" style="margin-left: 40%" class="btn">Hobbies</a>
        <a href="/portfolio/" class="btn">Portfolio</a>
        <a href="/contact/" class="btn">Contact Info</a>
        <br>
        <h1>Home Page</h1>
        <p class="home">{{ home_text }}</p>
        <img src="{% static 'welcome.png' %}" alt="Welcome" class="welcome"/>
    </body>
</html>